@import '../../index.scss';

.ModalEdit {
  background: #FFFFFF;
  border-radius: 16px;
  padding: 24px;
  width: 350px;
  h2 {
    text-align: center;
  }
  @media (max-width: $mobileSm) {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

.Backdrop {
  position: absolute;
  top: -98px;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.FormContainer {
  display: flex;
  flex-direction: column;
}

.input {
  width: 100%;
  height: 40px;
  padding: 0 16px;
  margin-top: 16px;
  font-size: 18px;
  border-radius: 8px;
  outline: none;
  border: 1px solid #000;
}

.BtnContainer {
  display: flex;

  button {
    border-radius: 4px;
    padding: 10px 32px;
    border: none;
    outline: none;
    margin-top: 24px;
    cursor: pointer;
  }

  .BtnAdd {
    width: 100%;
    margin-left: 10px;
    background: #505b40;
    &:hover {
      background: #258603;
    }
  }

  .BtnClose {
    width: 50%;
    background: #993d3d;
    &:hover {
      background: #990909;
    }
  }
}

.ErrorText {
  color: #fc0404;
  margin: 3px 0 0 8px;
}

.inputWrapper {
  height: 65px;
}
